<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mdsgpp.eef"
    android:installLocation="preferExternal"
    android:versionCode="1"
    android:versionName="1.0" >

    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:targetPackage="com.mdsgpp.eef" />

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.mdsgpp.eef.visao.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mdsgpp.eef.visao.TelaEstado"
            android:label="@string/title_activity_tela_estado"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.mdsgpp.eef.visao.TelaListaEstado"
            android:label="@string/title_activity_tela_lista_estado"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.mdsgpp.eef.visao.TelaComparacao"
            android:label="@string/title_activity_tela_comparacao"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.mdsgpp.eef.visao.TelaComparaEstados"
            android:label="@string/title_activity_tela_compara_estados"
            android:screenOrientation="user" >
        </activity>
        <activity
            android:name="com.mdsgpp.eef.visao.TelaSobre"
            android:label="@string/title_activity_tela_sobre"
            android:screenOrientation="portrait" >
        </activity>

        <uses-library android:name="android.test.runner" />

        <activity
            android:name="com.mdsgpp.eef.visao.Tela"
            android:label="@string/title_activity_tela" >
        </activity>
        <activity
            android:name="com.mdsgpp.eef.visao.TelaConsultaIndicativo"
            android:label="@string/title_activity_tela_consulta_indicativo"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.mdsgpp.eef.visao.TelaIndicativosConsultados"
            android:label="@string/title_activity_tela_indicativos_consultados"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.mdsgpp.eef.visao.TelaResultadoConsulta"
            android:label="@string/title_activity_tela_resultado_consulta" >
        </activity>
        <activity
            android:name="com.mdsgpp.eef.visao.TelaFeed"
            android:label="@string/title_activity_tela_feed" >
        </activity>
        <activity
            android:name="com.mdsgpp.eef.visao.FeedAdapter"
            android:label="@string/title_activity_feed_adapter" >
        </activity>
        <activity
            android:name="com.mdsgpp.eef.visao.ReceptorDados"
            android:label="@string/title_activity_receptor_dados" >
        </activity>
        <activity
            android:name="com.mdsgpp.eef.visao.TelaFeedSobre"
            android:label="@string/title_activity_tela_feed_sobre" >
        </activity>
        <activity
            android:name="com.mdsgpp.eef.visao.TelaEscolheIndicativoGrafico"
            android:label="@string/title_activity_tela_escolhe_indicativo_grafico" >
        </activity>
        <activity
            android:name="com.mdsgpp.eef.visao.TelaGrafico"
            android:label="@string/title_activity_tela_grafico" >
        </activity>
        <activity
            android:name="com.mdsgpp.eef.visao.TelaSobreIndicativos"
            android:label="@string/title_activity_sobre_indicativos" >
        </activity>
    </application>

</manifest>