<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mdsgpp.eef"
    android:installLocation="preferExternal"
    android:versionCode="1"
    android:versionName="1.0" >

    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:targetPackage="com.mdsgpp.eef" />

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <uses-library android:name="android.test.runner" />

        <activity
            android:name="com.mdsgpp.eef.visao.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mdsgpp.eef.visao.TelaEstado"
            android:icon="@drawable/home"
            android:label="@string/title_activity_tela_estado"
            android:parentActivityName="MainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.mdsgpp.eef.visao.TelaListaEstado"
            android:icon="@drawable/home"
            android:label="@string/title_activity_tela_lista_estado"
            android:parentActivityName="MainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.mdsgpp.eef.visao.TelaComparacao"
            android:icon="@drawable/home"
            android:label="@string/title_activity_tela_comparacao"
            android:parentActivityName="MainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.mdsgpp.eef.visao.TelaSobre"
            android:icon="@drawable/home"
            android:label="@string/title_activity_tela_sobre"
            android:parentActivityName="MainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.mdsgpp.eef.visao.TelaIndicativosConsultados"
            android:icon="@drawable/home"
            android:label="@string/title_activity_tela_indicativos_consultados"
            android:parentActivityName="MainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.mdsgpp.eef.visao.TelaResultadoConsulta"
            android:icon="@drawable/home"
            android:label="@string/title_activity_tela_resultado_consulta"
            android:parentActivityName="MainActivity" >
        </activity>
        <activity
            android:name="com.mdsgpp.eef.visao.TelaFeed"
            android:icon="@drawable/home"
            android:label="@string/title_activity_tela_feed"
            android:parentActivityName="MainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.mdsgpp.eef.visao.TelaFeedSobre"
            android:icon="@drawable/home"
            android:label="@string/title_activity_tela_feed_sobre"
            android:parentActivityName="MainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.mdsgpp.eef.visao.TelaEscolheIndicativoGraficoComparacao"
            android:icon="@drawable/home"
            android:label="@string/title_activity_tela_escolhe_indicativo_grafico"
            android:parentActivityName="MainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.mdsgpp.eef.visao.TelaEscolheIndicativoGraficoLinha"
            android:icon="@drawable/home"
            android:label="@string/title_activity_tela_escolhe_indicativo_grafico"
            android:parentActivityName="MainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.mdsgpp.eef.visao.TelaGrafico"
            android:icon="@drawable/home"
            android:label="@string/title_activity_tela_grafico"
            android:parentActivityName="MainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.mdsgpp.eef.visao.TelaSobreIndicativos"
            android:icon="@drawable/home"
            android:label="@string/title_activity_sobre_indicativos"
            android:parentActivityName="MainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.mdsgpp.eef.visao.TelaSobreConsulta"
            android:icon="@drawable/home"
            android:label="@string/title_activity_tela_sobre_consulta"
            android:parentActivityName="MainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.mdsgpp.eef.visao.TelaSobreComparacao"
            android:icon="@drawable/home"
            android:label="@string/title_activity_tela_sobre_comparacao"
            android:parentActivityName="MainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.mdsgpp.eef.visao.TelaConsultasGerais"
            android:icon="@drawable/home"
            android:label="@string/title_activity_tela_consultas_gerais"
            android:parentActivityName="MainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.mdsgpp.eef.visao.TelaComparacoesGerais"
            android:icon="@drawable/home"
            android:label="@string/title_activity_tela_comparacoes_gerais"
            android:parentActivityName="MainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.mdsgpp.eef.visao.TelaConsultaPorIndicativo"
            android:icon="@drawable/home"
            android:label="@string/title_activity_tela_consulta_por_indicativo"
            android:parentActivityName="MainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.mdsgpp.eef.visao.TelaResultadoConsultaPorIndicativo"
            android:icon="@drawable/home"
            android:label="@string/title_activity_tela_resultado_consulta_por_indicativo"
            android:parentActivityName="MainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.mdsgpp.eef.visao.TelaHistoricoEstado"
            android:label="@string/title_activity_tela_historico_estado" >
        </activity>
        <activity
            android:name="com.mdsgpp.eef.visao.TelaSobreComparacoesGerais"
            android:label="@string/title_activity_tela_sobre_comparacoes_gerais" >
        </activity>
    </application>

</manifest>